pytest
sphinx
sphinx_rtd_theme
rdflib>=5.0
wheel
twine

#For debian packaging: (uncomment this line)
#stdeb

#Note, stdeb requires debian tools dpkg-buildpackage, python3-all, and debhelper (use apt-get)

